        /*
    ///    \\\    
  ||           ||
  ||           ||
  ||   Small   ||
  ||           ||
  ||           ||
        |*/

        @media screen and (max-width: 576px) {
            .header {
                padding: 0 1.5rem;
            }

            .menu {
                display: none;
            }

            nav h1 {
                font-size: 1rem;
            }

            .icon-bar,
            .mobile-icon {
                display: block;
            }

            .banner {
                flex-direction: column-reverse;
                gap: 1rem;
            }

            .banner-content {
                text-align: center;
            }

            .banner-content h1 {
                font-size: 1.5rem;
                line-height: 30px;
            }

            .banner-content p {
                font-size: .8rem;
                width: 100%;
            }

            /* logo styles */
            .main {
                width: 100%;
            }

            .main>section {
                margin-top: 30px;
            }

            .logo {
                flex-wrap: wrap;
                gap: 30px;
            }

            /* popular styles */
            .products {
                grid-template-columns: 1fr;
            }

            /* feature */
            .feature {
                flex-direction: column-reverse;
                padding: 24px;
                gap: 50px;
            }
            .feature .col {
                width: 100%;
              }
            .feature-content{
                text-align: center;
            }
            .feature-content h1 {
                font-size: 1rem;
                line-height: normal;
                font-weight: 700;
                text-align: center;
            }

            .feature-content p {
                font-size: .6rem;
                line-height: normal;
                text-align: center;
            }

            .feature-content h1 {}
        }